<launch>

  <node pkg="moosros" type="Bridge" name="Bridge" 
        args="$(find moosros)/moos/example/moosconfig.xml $(find moosros)/moos/example/bridge.moos" 
        respawn="false" output="screen" />
  <group ns="boat">      
  <node name="msg_transform" pkg="posestamped_to_stdmsgs" type="transform_boat"  output="screen"/>
   </group>
</launch>
