<launch>

  <node pkg="moosros" type="Bridge" name="Bridge" 
        args="$(find moosros)/moos/robotx/gazebo_wamv_alpha/alpha.xml $(find moosros)/moos/robotx/gazebo_wamv_alpha/alpha.moos" 
        respawn="false" output="screen" />

  <node pkg="gazebo_moos" type="gazebo_wamv_alpha" name="gazebo_wamv_alpha" respawn="false" 
        output="screen" />
  
</launch>
